<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <title>List of enclosures in the zoo</title>
        <script type = "text/javascript"
             src = "{{ url_for('static', filename = 'script.js') }}" ></script>
    </head>
    <body>
        <p>
            {% if user==None: %}
                <span style="float: right">User not logged in</span>
            {% else: %}
                <span style="float: right">Logged in as {{user}}</span>
            {% endif %}
            <span style="float: left">
                <form action = "http://127.0.0.1:443/" method="get">
                    <input type="submit" id="back-to-main" value="Back to main page">
                </form>
            </span>
        </p>
        <br>
        <div>List of enclosures in the zoo</div>
        <table border = 2>
            <tr>
                <th>ID</th>
                <th>LOCATION</th>
                <th>INHABITANT</th>
                {% if user!=None: %}
                <th>ACTIONS</th>
                {% endif %}
            </tr>
            {% for e in enclosures %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.location }}</td>
                <td>{{ e.inhabitant }}</td>
                {% if user!=None: %}
                    <td>
                        <input type = "button" onclick = "edit_enclosure({{ e.id }})" value = "Edit" />
                        <input type = "button" onclick = "remove_enclosure({{ e.id }})" value = "Remove" />
                    </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
        {% if user!=None: %}
            <p><input type="text" id="location" size="25" placeholder="Location">
            <input type="text" id="inhabitant" size="25" placeholder="Inhabitant">
            <input type = "button" onclick = "add_enclosure()" value = "Add enclosure" /></p>
        {% endif %}
    </body>
</html>