<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    </head>
    <body>
        <div>Welcome to my Zoo app!</div>
        <div>What would you like to do?</div>
        <form action = "http://127.0.0.1:443/login" method="get">
            <input type="submit" id="log-in" value="Log in">
        </form>
        <form action = "http://127.0.0.1:443/animals" method="get">
            <input type="submit" id="go-to-animals" value="Go to animals">
        </form>
        <form action = "http://127.0.0.1:443/enclosures" method="get">
            <input type="submit" id="go-to-enclosures" value="Go to enclosures">
        </form>
        <form action = "http://127.0.0.1:443/employees" method="get">
            <input type="submit" id="go-to-employees" value="Go to employees">
        </form>


    </body>
</html>