<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <title>Login Page</title>
        <script type = "text/javascript"
             src = "{{ url_for('static', filename = 'script.js') }}" ></script>
    </head>
    <body>
        <div>Hi {{ user }}!</div>
        <div>You are now logged in and able to edit data of the Zoo.</div>
        <form action = "http://127.0.0.1:443/" method="get">
            <input type="submit" id="back-to-main" value="Back to main page">
        </form>

    </body>
</html>